* {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  padding: 0px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw;
  background-color: #412B54;
  left: 0;
  color: #9A94B3;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #AAA3C3;
  width: 100vw;
  height: 100vw;
  padding-top: 2vw;
}

.sec-filtaccidents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vw;
}

/* .filtaccidents-result{

} */
