@media all and (min-width:0px) and (max-width:2200px){
body,html {  
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 1,4;
    color:rgb(39, 37, 37);
    background-color:black; 
    
}
.main{
      max-width:100%;
			margin:0 auto;
			overflow:hidden;
      background:white;
} 

header nav{
    background-color:#253556;
    display: flex;
}
.btmenu{
    text-decoration: none;
    display: flex;
    width: 420px;
    height: 50px;
    margin: 2px;
    padding: 1px 5px 1px 5px;
    color: #fff;
    font-family: Arial;
    font-size: 1.1em;
    cursor: pointer;
    border: 10px;
    text-transform: uppercase;  
    outline:none;
    justify-content: center;
    align-items: center;
} 
.btmenu:hover{
    background-color: gray;
    color:#FFF;
}
.banner{
  padding:0;
  margin: 0;
  overflow:hidden;
  justify-content:center;
  align-items:center;
  background: rgb(46, 46, 46);
  color: lightsteelblue;

}  
.imgbanner{
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 130px;
}

h2 {
  margin-right: 80px;
  text-align: center;
  padding-left: 35px;
  padding-right:0px;
}
 .container {
  display: flex;
  flex-direction: reverse;
  background-color:white;
  justify-content: flex-start;
  flex-wrap: wrap;
 }
 .item{
   background-color: white;
   color: black;
   padding: 10px;
   margin: 5px;
   margin-right: 0px;
     
    }

.item1{
   width: 100%
  }  
.artigo p,h3{
    margin: 10px;
    padding: 2px;
    text-align: justify;
    font-size: 18px;
  }
.item2{
   width:45%;
   background: rgba(0,0,0,.7);
   color: white;
   padding: 20px;
   font-size: 16px;
  }   
.legend{
  font-family: 'Franklin Gothic Medium', 'Bree Serif';
  background-color: rgb(8, 1, 102);
  font-size: 20px;
  text-align: center;
  padding: 5px;
  margin: 5px;
}
label {padding: 10px;}

select {
  -webkit-appearance: none;  
  -moz-appearance: none;   
  appearance: none;
  background: url(Images/ico-seta-appearance.gif) no-repeat #eeeeee; 
  background-position: 218px center;
  width: 250px;
  height:30px; 
  border:1px solid #ddd;
}
.item3{
  width:45%;
  background: rgba(0,0,0,.7);
  color: white;
  padding: 20px;
  font-size: 16px;
}
.send-button {
  width: 100%;
  height: 40px;
  padding: 5px;
  margin-top: 10px;
  outline: none;
  border: none;
  box-sizing: border-box;
  background: #022f58;
  cursor: pointer;
  color: white;
  opacity: 0.7;
  border-radius: 2px;
 }
 .send-button:hover{
   background: #323a45;
 }

 
.footer{
  width:100%;
  background:#253556;
  text-align:center;
}

.destaques{
  margin: 70px;
  padding: 0px;
  background:#000;
  }
  .destaques > img {
    width:5%;
    height: 10%;
    padding: 10px;
  
  }
.destaques:hover{
  background: rgb(129, 95, 209);  
  
}
