@media all and (min-width:0px) and (max-width:2200px){
  h2 {
    margin-right: 80px;
    text-align: justify;
    padding-left: 35px;
    padding-right:0px;
  }
  p{
    margin: 0;
    padding: 0;
    margin-right: 700px;
    text-align: justify;
    padding-left: 35px;
    padding-right:40px;
  }
  h1 {
    margin-right: 80px;
    text-align: justify;
    padding-left: 35px;
    padding-right:0px;
  }
  
  body {
  background-color: #1155dd;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }
  .header {
    width: 700%;
    float: center;
    padding: 10% 4%;
    font-weight: 100;
    font-size: 2.1em;
    color: #e1f3f8;
    line-height:40px;
    height:auto;
    text-align:center;
  }
   
    header nav{
    background-color: #000;
    display: flex;
  }

   .box{
    position: absolute;
    top: 76%;
    left: 75%;
    transform: translate(-50%,-50%);
    width: 558px;
    padding: 35px;
    background: rgba(0,0,0,.7);
    box-sizing: border-box;
    border-radius: 9%;
    display: fixed;
  }
  @media screen and (min-width:0px) and (max-width:2200px){
    .box{
      width:40%;
    } 
  }
  @media screen and (min-width:0px) and (max-width:2200px){
    .box{
      width:30%;
    } 
  }

  .box legend{
    top: 78%;
    left: 7%; 
    font-family: 'Franklin Gothic Medium', 'Bree Serif';
    color: #fff;
    background-color: rgb(8, 1, 102);
    text-align: center; 
   }

   .selection-boxes {
    width: 100%;
    
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
   }
   } 

  .legend {
   font-weight: 700;
   font-size: 20px;
   line-height: 50px;
  }
  .btmenu{
    text-decoration: none;
    display: flex;
    width: 420px;
    height: 30px;
    margin: 2px;
    padding: 1px 5px 1px 5px;
    background-color: #000;
    border-radius: 30px;
    color: #fff;
    font-family: Arial;
    font-size: 10px;
    cursor: pointer;
    border: 10px;
    text-transform: uppercase;
    outline:none;
    justify-content: center;
    align-items: center;
  }
   
  .btmenu:hover{
    background-color: rgb(129, 95, 209);
    color:#FFF;
  }
  
  .destaques{
    margin: 70px;
    padding: 0px;
    background:#000
    }
  .destaques:hover{
    background: rgb(129, 95, 209);
    
  }
  .banner{
    padding:0px;
    overflow:hidden;
    justify-content:center;
    align-items:center;
  } 
 
    /*.container {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 0 20px;
      background-color: #323a45;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-flow: wrap;
     }*/
    
  }
  a {
    text-decoration: #FFF
   }
    
    
   img {
    max-width: 100%;
   }
   .button {
    text-align: center;
    margin-top: unset;
    padding: 1.5%;
    width: 100%;
   }
   
}



/*@media screen and (max-device-width:450px) and (orientation:portrait){
  header{
    padding-left: 3%;
    padding-right: 3%;
  }
}
 


/*@media (min-width: 1170px) {
 .container {
   max-width: 1170px;
   padding: 0;
 }
}
@media only screen and (min-width : 150px) and (max-width : 780px) {
 .container {
   max-width: 780px;
   padding: 0;
 }
}
.row {
 margin-left: -5px;
 margin-right: -5px;
}
.row:before,
.row:after{
 content: "";
 display: table;
}
.row:after {
 clear:both;
}
 
.transport{
 padding: 5px;
 text-align: center;
 margin: 2px 0;
 color: #ffffff;
}
.result-transport {
 padding: 5px;
 text-align: center;
 margin: 2px 0;
 color: #ffffff;
 height: 50px;
 
}
 
voltar @media screen and (min-width: 320px){
 .header{
   font-size: 0.5em;
 }
}
{
 margin: 0;
 padding: 0;
 font-size: 100%;
 border: none;
 outline: none;
 font-weight: 300;
 box-sizing: border-box;
 font-family: 'Merriweather', serif;
}*/
 

 
/*
a {
 text-decoration:none
}
 
ul {
 list-style: none;
}
 
img {
 max-width: 100%;
}
.button {
 text-align: center;
 margin-top: auto;
 padding: 1.5%;
 width: 100%;
}
 
.send-button {
 font-weight: 700;
 font-size: 15px;
 width: 100px;
 height: 45px;
 background: #e31c3d;
 cursor: pointer;
 color: white;
 
}
 
.send-button:hover {
 border: 1px;
 solid: #981b1e
}
 
.col {
 width: 100%;
 float: left;
 text-align: center;
 padding: 3% 4%;
}
.transport select {
 background-color:#e59393;
 color: #112e51;
 padding: 5%;
 border-radius: 5px;
 width: 100%;
}
 
/*.transport {
 font-family: ‘Source Sans Pro’;
 font-weight: 700;
 font-size: 34px;
 line-height: 1.3em/44px;
 text-align: center
}
 

 
.col {
 display:flexbox;
  justify-content: space-between;
 align-items: center;
 vertical-align: top;
 min-height: 1px;
 padding-left: 5px;
 padding-right: 5px;
 width: 100%;
 margin-right: -4px;
 *zoom: 1;
 *display: inline;
}*/
